{% load static %}
<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title> {% block title %}_NovelBase_{% endblock title %}</title>

		<link rel = "icon" href = "{% static 'dustmain/img/icon.png' %}" type = "image/x-icon">		

		{% comment %} bootstraps {% endcomment %}
		<link rel="stylesheet" href="{%static 'dustmain/bootstrap_4/css/bootstrap.min.css'%}">
		<script src="{%static 'dustmain/bootstrap_4/js/bootstrap.bundle.min.js'%}"></script>
		
		{% comment %} actual css links {% endcomment %}
		<link rel="stylesheet" href="{%static 'dustmain/css/base.css'%}">

		<link rel="stylesheet" href="{%static 'dustmain/css/index.css'%}">

		<link rel="stylesheet" href="{%static 'dustmain/css/mediaqueries.css'%}">

	</head>

	<body>
		{% include "dustmain/header.html" %}

		{% include "dustmain/navbar.html" %}
		
		<div id="ctxmain">
			{% block contentx %}{% endblock contentx %}
		</div>

		{% include 'dustmain/footer.html' %}

		<script src=" {% static 'dustmain/js/base.js' %}"></script>
		
		{% block script %}
			{% comment %}  
					script so that script on other file can 
					be stored here aka bottom of body
			{% endcomment %}
		{% endblock script %}

	</body>
</html>
