{% load static %}
<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title> {% block title %}_NovelBase_{% endblock title %}</title>

		<link rel = "icon" href = "{% static 'dustmain/img/icon.png' %}" type = "image/x-icon">		

		<link rel="stylesheet" href="{%static 'dustmain/bootstrap_4/css/bootstrap.min.css'%}">
		<script src="{%static 'dustmain/bootstrap_4/js/bootstrap.bundle.min.js'%}"></script>
		
		<link rel="stylesheet" href="{%static 'dustmain/css/base.css'%}">

	</head>

	<body>
		{% include "dustmain/header.html" %}

		<div>
			{% block contentx %}{% endblock contentx %}
		</div>

		{% include 'dustmain/footer.html' %}
	
	</body>
</html>
