<div id="header_top" class="d-flex" >
    <span id="header_top_NinedusT">
        <a href="{% url 'dustmain:index' %}">NovelDust</a>
    </span>
    
    <div class="d-flex align-items-center justify-content-center" id="searchcontainmain">
        <input class="border-0" aria-label="Search" type="search" placeholder="Search" name="search" id="seach-inp">
    </div>

    <span class="d-flex p-2">

        <a id="loginlink" href="{% url 'users:login' %}">LogIn</a>
        <a id="loginlink" href="{% url 'users:login' %}">SignUp</a>      
          
    </span>

</div>

<div class="sticky-top" id="top-sticky-bar"></div>
