{% extends 'dustmain/base.html' %}
{% load static %} 
{% block title%}NovelDust{% endblock title %} 
{% block contentx %}
<div class="indexcontainer">
  <p>
    Where Did Your Dimples Go? <br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br /><br /><br /><br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br /><br />
    Think about the<br />
    role bees play. What would happen if we had fewer bees? Would there be fewer
    flowers? And crops? What would happen to the animals that rely on these
    flowers/crops for food? And then the animals which rely on them for food?
    Can you explain in your own words why bees buzz? Is there more than one
    reason?
    <br />
    3<br />
    Gul i<br />n Space ENGLISHLE<br />VEL 3 Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas<br />
    of gravity, how rockets are launched into space. Life for astronauts in
    spaceWhere Did Your Dimples Go? How to Use:<br />
    Read aloud to i<br /><br />ntroduce a lesson on genetics and inheritance.
    Ask children to make their own family tree. Talk about what makes a family.
    Is it just (or always?) genetics? Or something else? 2 Why Do Bees Buzz?
    ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do
    Bees Buzz? How to Use: Think about the role bees play. What would happen if
    we had fewer bees? Would there be fewer flowers? And crops? What would
    happen to the animals that rely on these flowers/crops for food? And then
    the animals which rely on them for food? Can you explain in your own words
    why bees buzz? Is there more than one reason?
    <br />
    3 Gul in Space ENGL<br />ISHLEVEL 3 Gul in S<br />pace Richa Jha<br />
    Gul in Space<br /><br /><br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use:<br />
    Read aloud to i<br />ntroduce a lesson on genetics and inheritance. Ask
    children to make their own family tree. Talk about what makes a family. Is
    it just (or always?) genetics? Or something else? <br /><br />
    2<br />
    Why D<br />o Bees Buzz? ENGLISHLE<br /><br />VEL 3 Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br /><br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? How to Use: Read aloud to introduce a lesson on genetics and
    inheritance. Ask children to make their own family tree. Talk about what
    makes a family. Is it just (or always?) genetics? Or something else? 2 Why
    Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees
    Buzz? Why Do Bees Buzz? How to Use: Think about the role bees play. What
    would happen if we had fewer bees? Would there be fewer flowers? And crops?
    What would happen to the animals that rely on these flowers/crops for food?
    And then the animals which rely on them for food? Can you explain in your
    own words why bees buzz? Is there more than one reason? 3 Gul in Space
    ENGLISHLEVEL 3 Gul in Space Richa Jha Gul in Space Gul in Space How to Use:
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use: Read aloud to
    introduce a lesson on genetics and inheritance. Ask children to make their
    own family tree. Talk about what makes a family. Is it just (or always?)
    genetics? Or something else? 2 Why Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees
    Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do Bees Buzz? How to Use:
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? How to Use: Read aloud to introduce a lesson on genetics and
    inheritance. Ask children to make their own family tree. Talk about what
    makes a family. Is it just (or always?) genetics? Or something else? 2 Why
    Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees
    Buzz? Why Do Bees Buzz? How to Use: Think about the role bees play. What
    would happen if we had fewer bees? Would there be fewer flowers? And crops?
    What would happen to the animals that rely on these flowers/crops for food?
    And then the animals which rely on them for food? Can you explain in your
    own words why bees buzz? Is there more than one reason? 3 Gul in Space
    ENGLISHLEVEL 3 Gul in Space Richa Jha Gul in Space Gul in Space How to Use:
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use: Read aloud to
    introduce a lesson on genetics and inheritance. Ask children to make their
    own family tree. Talk about what makes a family. Is it just (or always?)
    genetics? Or something else? 2 Why Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees
    Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do Bees Buzz? How to Use:
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? <br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br /><br /><br /><br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br /><br />
    Think about the<br />
    role bees play. What would happen if we had fewer bees? Would there be fewer
    flowers? And crops? What would happen to the animals that rely on these
    flowers/crops for food? And then the animals which rely on them for food?
    Can you explain in your own words why bees buzz? Is there more than one
    reason?
    <br />
    3<br />
    Gul i<br />n Space ENGLISHLE<br />VEL 3 Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas<br />
    of gravity, how rockets are launched into space. Life for astronauts in
    spaceWhere Did Your Dimples Go? How to Use:<br />
    Read aloud to i<br /><br />ntroduce a lesson on genetics and inheritance.
    Ask children to make their own family tree. Talk about what makes a family.
    Is it just (or always?) genetics? Or something else? 2 Why Do Bees Buzz?
    ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do
    Bees Buzz? How to Use: Think about the role bees play. What would happen if
    we had fewer bees? Would there be fewer flowers? And crops? What would
    happen to the animals that rely on these flowers/crops for food? And then
    the animals which rely on them for food? Can you explain in your own words
    why bees buzz? Is there more than one reason?
    <br />
    3 Gul in Space ENGL<br />ISHLEVEL 3 Gul in S<br />pace Richa Jha<br />
    Gul in Space<br /><br /><br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use:<br />
    Read aloud to i<br />ntroduce a lesson on genetics and inheritance. Ask
    children to make their own family tree. Talk about what makes a family. Is
    it just (or always?) genetics? Or something else? <br /><br />
    2<br />
    Why D<br />o Bees Buzz? ENGLISHLE<br /><br />VEL 3 Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br /><br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? How to Use: Read aloud to introduce a lesson on genetics and
    inheritance. Ask children to make their own family tree. Talk about what
    makes a family. Is it just (or always?) genetics? Or something else? 2 Why
    Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees
    Buzz? Why Do Bees Buzz? How to Use: Think about the role bees play. What
    would happen if we had fewer bees? Would there be fewer flowers? And crops?
    What would happen to the animals that rely on these flowers/crops for food?
    And then the animals which rely on them for food? Can you explain in your
    own words why bees buzz? Is there more than one reason? 3 Gul in Space
    ENGLISHLEVEL 3 Gul in Space Richa Jha Gul in Space Gul in Space How to Use:
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use: Read aloud to
    introduce a lesson on genetics and inheritance. Ask children to make their
    own family tree. Talk about what makes a family. Is it just (or always?)
    genetics? Or something else? 2 Why Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees
    Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do Bees Buzz? How to Use:
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? How to Use: Read aloud to introduce a lesson on genetics and
    inheritance. Ask children to make their own family tree. Talk about what
    makes a family. Is it just (or always?) genetics? Or something else? 2 Why
    Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees Buzz? Nabanita Deshmukh Why Do Bees
    Buzz? Why Do Bees Buzz? How to Use: Think about the role bees play. What
    would happen if we had fewer bees? Would there be fewer flowers? And crops?
    What would happen to the animals that rely on these flowers/crops for food?
    And then the animals which rely on them for food? Can you explain in your
    own words why bees buzz? Is there more than one reason? 3 Gul in Space
    ENGLISHLEVEL 3 Gul in Space Richa Jha Gul in Space Gul in Space How to Use:
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? How to Use: Read aloud to
    introduce a lesson on genetics and inheritance. Ask children to make their
    own family tree. Talk about what makes a family. Is it just (or always?)
    genetics? Or something else? 2 Why Do Bees Buzz? ENGLISHLEVEL 3 Why Do Bees
    Buzz? Nabanita Deshmukh Why Do Bees Buzz? Why Do Bees Buzz? How to Use:
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason? 3 Gul in Space ENGLISHLEVEL 3 Gul in Space Richa Jha
    Gul in Space Gul in Space How to Use: Introduce ideas of gravity, how
    rockets are launched into space. Life for astronauts in spaceWhere Did Your
    Dimples Go? <br /><br />
    How to Use:<br /><br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br /><br />
    <br /><br />
    2<br /><br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br /><br />
    ENGLISHLEVEL 3<br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br /><br />
    Nabanita Deshmukh<br /><br />
    Why Do Bees Buzz?<br /><br />
    Why Do Bees Buzz?<br /><br />
    How to Use:<br /><br /><br />
    Think about the<br />
    role bees play. What would happen if we had fewer bees? Would there be fewer
    flowers? And crops? What would happen to the animals that rely on these
    flowers/crops for food? And then the animals which rely on them for food?
    Can you explain in your own words why bees buzz? Is there more than one
    reason?<br />
    <br /><br />
    3<br /><br />
    Gul i<br />n Space<br />
    ENGLISHLE<br />VEL 3<br />
    Gul in Space<br /><br />
    Richa Jha<br /><br />
    Gul in Space<br /><br />
    Gul in Space<br /><br />
    How to Use:<br /><br />
    Introduce ideas<br />
    of gravity, how rockets are launched into space. Life for astronauts in
    spaceWhere Did Your Dimples Go?<br />
    How to Use:<br /><br />
    Read aloud to i<br /><br />ntroduce a lesson on genetics and inheritance.
    Ask children to make their own family tree. Talk about what makes a family.
    Is it just (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br /><br />
    3<br />
    Gul in Space<br />
    ENGL<br />ISHLEVEL 3<br />
    Gul in S<br />pace<br />
    Richa Jha<br /><br />
    Gul in Space<br /><br /><br /><br />
    Gul in Space<br /><br />
    How to Use:<br /><br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br /><br />
    Read aloud to i<br />ntroduce a lesson on genetics and inheritance. Ask
    children to make their own family tree. Talk about what makes a family. Is
    it just (or always?) genetics? Or something else?<br />
    <br /><br /><br />
    2<br /><br />
    Why D<br />o Bees Buzz?<br />
    ENGLISHLE<br /><br />VEL 3<br />
    Why Do Bees Buzz?<br /><br />
    Nabanita Deshmukh<br /><br />
    Why Do Bees Buzz?<br /><br />
    Why Do Bees Buzz?<br /><br />
    How to Use:<br /><br /><br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go? <br /><br />
    How to Use:<br /><br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br /><br />
    <br /><br />
    2<br /><br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br /><br />
    ENGLISHLEVEL 3<br /><br /><br /><br /><br />
    Why Do Bees Buzz?<br /><br />
    Nabanita Deshmukh<br /><br />
    Why Do Bees Buzz?<br /><br />
    Why Do Bees Buzz?<br /><br />
    How to Use:<br /><br /><br />
    Think about the<br />
    role bees play. What would happen if we had fewer bees? Would there be fewer
    flowers? And crops? What would happen to the animals that rely on these
    flowers/crops for food? And then the animals which rely on them for food?
    Can you explain in your own words why bees buzz? Is there more than one
    reason?<br />
    <br /><br />
    3<br /><br />
    Gul i<br />n Space<br />
    ENGLISHLE<br />VEL 3<br />
    Gul in Space<br /><br />
    Richa Jha<br /><br />
    Gul in Space<br /><br />
    Gul in Space<br /><br />
    How to Use:<br /><br />
    Introduce ideas<br />
    of gravity, how rockets are launched into space. Life for astronauts in
    spaceWhere Did Your Dimples Go?<br />
    How to Use:<br /><br />
    Read aloud to i<br /><br />ntroduce a lesson on genetics and inheritance.
    Ask children to make their own family tree. Talk about what makes a family.
    Is it just (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br /><br />
    3<br />
    Gul in Space<br />
    ENGL<br />ISHLEVEL 3<br />
    Gul in S<br />pace<br />
    Richa Jha<br /><br />
    Gul in Space<br /><br /><br /><br />
    Gul in Space<br /><br />
    How to Use:<br /><br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br /><br />
    Read aloud to i<br />ntroduce a lesson on genetics and inheritance. Ask
    children to make their own family tree. Talk about what makes a family. Is
    it just (or always?) genetics? Or something else?<br />
    <br /><br /><br />
    2<br /><br />
    Why D<br />o Bees Buzz?<br />
    ENGLISHLE<br /><br />VEL 3<br />
    Why Do Bees Buzz?<br /><br />
    Nabanita Deshmukh<br /><br />
    Why Do Bees Buzz?<br /><br />
    Why Do Bees Buzz?<br /><br />
    How to Use:<br /><br /><br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in spaceWhere Did Your Dimples Go?<br />
    How to Use:<br />
    Read aloud to introduce a lesson on genetics and inheritance. Ask children
    to make their own family tree. Talk about what makes a family. Is it just
    (or always?) genetics? Or something else?<br />
    <br />
    2<br />
    Why Do Bees Buzz?<br />
    ENGLISHLEVEL 3<br />
    Why Do Bees Buzz?<br />
    Nabanita Deshmukh<br />
    Why Do Bees Buzz?<br />
    Why Do Bees Buzz?<br />
    How to Use:<br />
    Think about the role bees play. What would happen if we had fewer bees?
    Would there be fewer flowers? And crops? What would happen to the animals
    that rely on these flowers/crops for food? And then the animals which rely
    on them for food? Can you explain in your own words why bees buzz? Is there
    more than one reason?<br />
    <br />
    3<br />
    Gul in Space<br />
    ENGLISHLEVEL 3<br />
    Gul in Space<br />
    Richa Jha<br />
    Gul in Space<br />
    Gul in Space<br />
    How to Use:<br />
    Introduce ideas of gravity, how rockets are launched into space. Life for
    astronauts in space
  </p>
</div>
{% endblock contentx %}
