{% load static %}

<link rel="stylesheet" href="{% static 'dustmain/css/navbar.css' %}" />

<div class="hoverable" id="navcontainer">
  <nav id="snav" onclick="showsidebar()">
    <div class="toplinenav"></div>
    <div id="navfiller"><p>☰</p></div>

    <div class="navback">
      <a target="_blank" href="https://youtube.com"
        ><p class="navlowertext">&isin;</p>
        YOUTUBE</a
      >
    </div>
    <div class="navback">
      <a target="_blank" href="https://facebook.com"
        ><p class="navlowertext">&CircleMinus;</p>
        FACEBOOK</a
      >
    </div>
    <div class="navback">
      <a target="_blank" href="https://github.com/"
        ><p class="navlowertext">&imof;</p>
        GITHUB</a
      >
    </div>

    <div class="navback last navlowertext"id="hidenavbutton" onclick="hidesidebar()">&times</div>
  </nav>
</div>