{% extends 'noveldust/base.html' %} 

{% block title %}Login:NovelDust{% endblock title %} 

{% block contentx %}
<style>
    #mainbarform{
        font-size: min(20px,4vw);
        padding-bottom: 15px;
    }
    #buildinform input{
        width: max(25vw,200px);
        height:31px;
        outline: 1px solid black;
    }
    #buildinform{
        width: max(50vw,300px);
        text-decoration: none;
        align-items: center;
    }
    #buildinform > p{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*#buildinform p */
    #buildinform span{
        flex: 100%;
        padding-left:2px ;
        text-align: center;
        display: block;
        color: green;
        font-size: min(15px,2.8vw);
    }
    #buildinform ul{
        font-size: min(17px,3vw);
    }
    #loghead{
        font-size: max(3vw,25px);
        color: slategray;
        padding:0 0 15px  0;
    }
    input{
        border: none;
        outline: none;
        margin-left: 4px;
    }
    #buildinform input:focus{
        box-shadow: 0 0 5px 2px aqua;
        border-radius: 5px;
      }
    .errorlist{
        color: red;
        text-decoration: underline;
        list-style-type: none;
    }
    .secondbari{
        box-shadow: 0 0 10px 1px black;padding: 20px 10px;
        margin-top:80px ;border-radius: 20px;
        background-color: seashell;
    }
    .shpasbox{
        font-size: 16px;color:green;padding-bottom: 10px;
    }
    .subminbutn{
        font-size: max(20px,2vw);box-sizing: border-box;padding: 5px 20px;
    }
</style>

    <form method="post" id="mainbarform" class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center secondbari">
        <span id="loghead">Login in to Noveldust</span>
        {% csrf_token %}
        <div id="buildinform" class="d-flex flex-column flex-wrap">{{loginform.as_p}}</div>

        <span class="d-flex form-check">
            <input type="checkbox" id="cbshowpass"  class="form-check-input" onclick="clickxx()" />
            <label for="cbshowpass"  class="shpasbox form-check-label">show password</label>
        </span>
        
        <input type="submit" value="Login" class="btn btn-primary subminbutn" />
    </div>
    </form> 
{% endblock contentx %}



{% block script %}
   <script>
       function clickxx(){ 
        var x = document.getElementById("id_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
       }
   </script>
{% endblock script %}
