{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninedust</title>
    <link rel = "icon" href = "{% static 'home/img/ninedusticon.jpg' %}" type = "image/x-icon">
    
    {% comment %} loading bootstrap {% endcomment %}
    
    <link rel="stylesheet" href="{%static 'noveldust/bootstraps/bootstrap.css'%}">

    <script src="{% static 'noveldust/bootstraps/jquery.js' %}"></script>
    <script src="{% static 'noveldust/bootstraps/popper.js' %}"></script>
    <script src="{% static 'noveldust/bootstraps/bootstrap.js' %}"></script>

</head>
<body>
    <div style="min-height: 100vh;padding: 100px;" class="bg-dark d-flex align-items-center justify-content-center flex-wrap">
        
        <a href="{% url 'noveldust:index' %}" 
            style="height: 200px;width: 25vw;min-width:200px;font-size: max(4vw,26px);
                    box-shadow: 10px 10px rgb(0, 0, 0,0.5);background-color: rgb(68, 21, 21);   
                    color: black;text-decoration:none"
            class="rounded d-flex align-items-center m-5 justify-content-center bg-warning">NovelDust
        </a>


        <a style="height: 150px;width: 15vw;min-width:150px;font-size: max(3vw,20px);box-shadow: 10px 10px rgb(0, 0, 0,0.5);
                    background-color: rgb(77, 102, 94);"
            class="spinner-border rounded bg-danger d-flex align-items-center m-5 p-2 justify-content-center">what's New
        </a>


        <a style="height: 100px;width: 8vw;min-width:100px;font-size: max(2.7vw,20px);box-shadow: 10px 10px rgb(0, 0, 0,0.5)"
            class="spinner-border p-1 rounded bg-secondary d-flex align-items-center m-5 justify-content-center">About
        </a>
        
        
    </div>

</body>
</html>