/* contentx container */
.ctxmain{
    position: relative;
    transition-duration: 0.3s;
    margin-left: 10vw;
  }
  
  .indexcontainer {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 30px;
    margin: 0 0;
    box-shadow: 0 0 10px black;
    background-color: rgb(34, 31, 31);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
  }
  .novelholderdiv{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid red;
    align-items: center;
    background-color: rgb(17, 11, 11);
    max-width: 400px;
  }
  .novelholderdiv:hover{
    transform: translate(5px,-5px);
  }
  .coverimage{
    width: 240px;
  }
  .topbooknamemain{
    margin: 0 5px;
    color: antiquewhite;
  }
  