html {
  min-height: 100%;
  scrollbar-face-color: #201e1e;
  scrollbar-base-color: #201e1e;
  scrollbar-3dlight-color: #201e1e;
  scrollbar-highlight-color: #201e1e;
  scrollbar-track-color: white;
  scrollbar-arrow-color: white;
  scrollbar-shadow-color: #201e1e;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(71, 135, 255);
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: #bcb7d3;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #f31313;
}
::-webkit-resizer {
  background-color: rgb(148, 44, 44);
}

.dark_mode_main_container{
  background-color:   #606060;
  color: white !important;
}

.light_mode_main_container{
  background-color: rgb(222, 235, 234);
  color: black;
  height: auto;
}
.light_mode_obj{
  background-color: rgba(245, 245, 245,1);
}
.fullscreenvw{
  width: 100%;
  min-height: 100vh; 
}
.nodecor_lightmode{
  text-decoration: none !important;
  color:black !important;
}
.nodecor_darkmode{
  text-decoration: none !important;
  color: white !important;
}
.fsz30-r{
  font-size: max(22px,3vw);
  font-family: 'Lucida Sans';
}


#page-main-div{
  background: url('https://wallpaperaccess.com/full/345330.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#dropdownMenuButton{
  background-color: rgba(0,0,0,0) ;
  border: none;
  outline: none;
  box-shadow: none;
}
#dropdownMenuButton:hover{
  background-color: gray;
}
.fss15-r{
  font-size:13px !important;
  padding-left: 20px !important;
}



/* header */
#searchbarcontainer{
  width: 45vw;
  margin-left: auto;
  position: sticky;top: 10px;
}
#sbar{
  width: 100%;
}
#imgheadericon{
  width: 7vw;
  min-width: 50px;
}
#navbarmain{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
}
#authcontainer{
  margin-left: auto;
  column-gap: max(2vw,10px);
  padding: 0 2px 0 8px;
  user-select: none !important;
}
#authcontainer *{
  font-size: max(1.6vw,14px);
  opacity: 1;
}

/**/
.grow_half{
  width: max(20%,100px);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: min(4vw,22px);
}


.tothe_left{
  margin-right: auto;
  margin-left: 10%;
}
.tothe_right{
  margin-left: auto;
  margin-right: 10%;
}





/*usermenu*/
    .usermenu{
    width: min(300px,50vw);
    height: auto;
    background: rgba(200, 200, 210,1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: black;
    }
    .usermenu *{
        text-decoration: none !important;
        color:black !important;
        list-style: none !important ;
        margin: 0;
        padding: 0;
        opacity: 1 !important;
    }

    .usermenu .btn{
        display:block;
        padding: 1rem;
        border-bottom: solid 1px #1b1b2f;
        border-top: solid 1px #1f4068;
        position: relative;
    }
  .curthumb{
    cursor: pointer;
  }
    .usermenu .subusermenu {
        background: rgba(225, 221, 255, 1.0);
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    .usermenu .subusermenu a{
        display:block;
        padding: 1rem;
        position: relative;
    }

    .usermenu .subusermenu a::before{
        content:'';
        display:block;
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 5px;
        background: #e43f5a;
        opacity: 0;
        transition: all .5s;
    }

    .usermenu .subusermenu a:hover{
        padding-left: calc(1rem + 5px);
    }

    .usermenu .subusermenu a:hover::before{
        opacity: 1;
    }

    .usermenuitemclick > .subusermenu{
        max-height: 20rem;
      }