#novelcontainer{
    width: 98%;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding:0 0 20px 0;
    overflow: hidden;
    justify-content: center;
}

.novelholder{
    width: max(21%,180px);
    font-size: max(1.3vw,0.8em);
    font-size: max(1.3vw,0.8em);
    cursor: pointer;
    max-width: 250px;
    min-width: 120px;
}
.novelholder:hover{
        left: 1px;
        top: -2px;
        box-shadow: 5px 5px 5px rgb(67, 145, 74);
    }
.lifted{
    left: 1px;
    top: -2px;
    box-shadow: 5px 5px 5px rgb(67, 145, 74);
    transition-delay: 2s ;
}
.nov-genre{
    font-family: 'Courier New', Courier, monospace;
}

#notfoundcontainer{
    height: 50vh;
}
#notfoundcontainer p{
    font-size: min(40px,6vw);
}

