
@media only screen and (max-width: 800px) {
    .novelcardbody{
        padding: 1px;
        margin: 0;
    }
}
@media only screen and (max-width: 640px) {
    #searchbarcontainer{
        order: 3;
        flex-basis: 100%;
    }
    #novelcontainer{
        width: 100%;
        padding:10px ;
        column-gap: 13px;
    }
}

@media only screen and (max-width: 450px) {
    .novelholder{
        width: max(150px,45%);
    }

}

@media only screen and (max-width: 350px) {
    .novelholder{
        width: max(120px,45%);
    }
}
@media only screen and (min-width: 800px) {
    .novelholder:hover{
        left: 1px;
        top: -2px;
        box-shadow: 5px 5px 5px rgb(67, 145, 74);
    }
}