
@media only screen and (max-width: 800px) {
    .novelcardbody{
        padding: 1px;
        margin: 0;
    }
}
@media only screen and (max-width: 640px) {
    #searchbarcontainer{
        order: 3;
        flex-basis: 100%;
    }
    #novelcontainer{
        width: 100%;
        padding:10px ;
        column-gap: 13px;
    }
}

@media only screen and (max-width: 450px) {
    .novelholder{
        width: max(150px,46.5%);
    }
    #goback121{
        background: none;
        color: white;
    }
    #novelcontainer{
        width: 100%;
        column-gap: 6px;
        padding: 0;
        row-gap: 6px;
    }
}

@media only screen and (max-width: 350px) {
/**/
}