{% load static %}
<div id="header_top" class="d-flex" >
    <span id="header_top_NinedusT">
        <a href="{% url 'noveldust:index' %}">NovelDust</a>
    </span>
    
    <div class="d-flex align-items-center justify-content-center" id="searchcontainmain">
        <input class="border-0" aria-label="Search" type="search" placeholder="Search" name="search" id="seach-inp">
        <div class="searchbutholder">
            <button id="Hbutx">
                <img id="Hbutimgx" src="{% static 'noveldust/img/searchbarlogo.png' %}" alt="">
            </button>
        </div>
    </div>

    <span class="d-flex p-2" id="logsign">

        <a id="loginlink" href="{% url 'users:login' %}">LogIn</a>
        <a id="loginlink" href="{% url 'users:signup' %}">SignUp</a>      
          
    </span>

</div>
