{% extends 'noveldust/base.html' %}
{% load static %}

{% block title %}Noveldust{% endblock title %}Noveldust

{% block contentx %}
    {% if topbooks.paginator.count >= 11 %}
        {% include 'noveldust/next_prev.html' %}    
    {% endif %}
    
    
    <div class="d-flex w-100 justify-content-center" >
        <div id="novelcontainer" class="d-flex pt-4">
            {% for tb in topbooks %}
                <a class="card light_mode_obj novelholder nodecor_lightmode" href="{% url 'noveldust:topbookpage' tbnameurl=tb.title_to_url %}">
                    {% if tb.topcover %}
                        <img class="card-img-top img-nov" src="{{tb.topcover}}"  id="tpimg" >
                    {% else %}
                        <img class="card-img-top img-nov" src="{%static 'noveldust/img/booknotfound.png'%} " id="tpimg">
                    {% endif %}

                    <div class="card-body novelcardbody">
                    <p class="card-title">{{tb.topname}}</p>
                    <p class="card-subtitle text-muted small nov-genre">{{ tb.genre.all|join:", " }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include 'noveldust/next_prev.html' %}

    
{% endblock contentx %}